<div style="margin-top: 50px">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working.. ">
    <div class="parent">
      <div class="child">
        <div>
          <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" id="email" nz-input required>
            <div formArrayName="passengers">
              <div *ngFor="let passenger of passengers.controls; let i = index">
                <div [formGroupName]="i">
                  <h4>Passenger {{i + 1}}</h4>
                  <label for="passengerName{{i}}">Name:</label>
                  <input type="text" formControlName="name" id="passengerName{{i}}" nz-input required>

                  <label for="passengerAge{{i}}">Age:</label>
                  <input type="number" formControlName="age" id="passengerAge{{i}}" nz-input required>
                </div>
              </div>
            </div>

            <!-- Add more passengers button -->
            <button type="button" (click)="addPassenger()" nz-button nzType="default">Add Passenger</button>

            <!-- Submit button -->
            <button type="submit" nz-button nzType="primary">Book Cruise</button>
          </form>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
