<div class="cruise-wrapper">
  <div class="cruise-container">
    <div class="child" *ngFor="let c of cruise">
      <div nz-row>
        <div nz-col nzSpan="8">
          <img class="profile" [src]="c.processedImg" alt="profile" />
        </div>

        <div nz-col nzSpan="16">
          <h2 class="cruise-title">
            {{c.name}} - {{c.departurePort}} - {{c.destination}}
          </h2>
          <hr />
          <h5>
            Departure Date: <b>{{c.departureDate}}</b><br />
            Price: INR <b>{{c.price}}</b><br />
            Available Rooms: <b>{{c.availableRooms}}</b>
          </h5>
          <hr />
        </div>

        <div class="Button">
          <button nzSize="small" nz-button nzType="primary" [routerLink]="'/customer/cruises/' + c.id">
            Book!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
